flows/DWFlowConsultaNetrin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DWNetrinReceita</name>
        <label>DWNetrinReceita</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>DWNetrinReceitaES.DWNetrinIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoReceita</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultFlow</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>receita_federal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinReceitaES.DWNetrinIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DWNetrinSintegra</name>
        <label>DWNetrinSintegra</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>DWNetrinISintegra.DWNetrinSintegraIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoSintegra</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultFlow</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>sintegra</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uf</name>
            <value>
                <elementReference>DWGetAccount.DWUFNetrin__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinISintegra.DWNetrinSintegraIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DWNetrinSuframa</name>
        <label>DWNetrinSuframa</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <actionName>DWNetrinSuframaES.DWNetrinSuframaIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoSuframa</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultFlow</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>suframa</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinSuframaES.DWNetrinSuframaIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>attrAtividadeSec</name>
        <label>attrAtividadeSec</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DWAtividadeSec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DWLoopAtividadesSecundariaNetrinReceita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWLoopAtividadesSecundariaNetrinReceita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttrDWNow</name>
        <label>AttrDWNow</label>
        <locationX>1700</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DWDTNow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWEscolhaConsulta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttrSuframaLoop</name>
        <label>AttrSuframaLoop</label>
        <locationX>2558</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>DWLoopSuframa_inscricoesEstaduais_Netrin_Example</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWNetrinSuframa.2XX.suframa.inscricoesEstaduais</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWLoopSuframaNetrin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DWAttrDatesString</name>
        <label>DWAttrDatesString</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>DWVarDataInicioAtividade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormulaReceitaFederal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DWVarDataSituacaoCadastral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormulaSituacaoCadastral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWTransFormAccountReceita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DWAttrDatesStringNetrinSintegra</name>
        <label>DWAttrDatesStringNetrinSintegra</label>
        <locationX>1326</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>DWVarDataInicioAtividadeSintegra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormuladataInicioAtividadeSintegra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DWVarDataInicioAtividadeSintegra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormulaSituacaoCadastralSintegra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWTransFormAccountSintegraNetrin</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Receita</name>
        <choiceText>Receita</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receita</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sintegra</name>
        <choiceText>Sintegra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sintegra</stringValue>
        </value>
    </choices>
    <choices>
        <name>Suframa</name>
        <choiceText>Suframa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suframa</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DWEscolhaConsulta</name>
        <label>DWEscolhaConsulta</label>
        <locationX>1700</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Receita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWQualConsultaDesejaRealizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Receita</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWNetrinReceita</targetReference>
            </connector>
            <label>Is_Receita</label>
        </rules>
        <rules>
            <name>Is_Sintegra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWQualConsultaDesejaRealizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sintegra</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsUf2Digits</targetReference>
            </connector>
            <label>Is_Sintegra</label>
        </rules>
        <rules>
            <name>Is_Suframa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWQualConsultaDesejaRealizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Suframa</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWNetrinSuframa</targetReference>
            </connector>
            <label>Is_Suframa</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDocumentoPreenchido</name>
        <label>IsDocumentoPreenchido</label>
        <locationX>2657</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>MsgCampoObrigatorio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>nao</defaultConnectorLabel>
        <rules>
            <name>sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWGetAccount.DW_Documento__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWEscolha</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoResultadoReceita</name>
        <label>IsPreenchidoResultadoReceita</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>DWLoopAtividadesSecundariaNetrinReceita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoReceita</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoReceita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinReceita.2XX.receitaFederal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaNaoRetornouDados</targetReference>
            </connector>
            <label>naoPreenchidoReceita</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoResultadoSintegra</name>
        <label>IsPreenchidoResultadoSintegra</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>DWLoopSintegraNetrin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoSintegra</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoSintegra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinSintegra.2XX.sintegra.inscricoesEstaduais</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaNaoRetornouDados</targetReference>
            </connector>
            <label>naoPreenchidoSintegra</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoResultadoSuframa</name>
        <label>IsPreenchidoResultadoSuframa</label>
        <locationX>2426</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>AttrSuframaLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoSuframa</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoSuframa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinSuframa.2XX.suframa.inscricoesEstaduais</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaNaoRetornouDados</targetReference>
            </connector>
            <label>naoPreenchidoSuframa</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUf2Digits</name>
        <label>IsUf2Digits</label>
        <locationX>1568</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>UfDiff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>uf2DigitsNao</defaultConnectorLabel>
        <rules>
            <name>uf2DigitsSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWBillingStateLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWNetrinSintegra</targetReference>
            </connector>
            <label>uf2DigitsSim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateFormuladataInicioAtividadeSintegra</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWLoopSintegraNetrin.dataInicioAtividade}),
    NULL,
    DATE(
        VALUE(MID({!DWLoopSintegraNetrin.dataInicioAtividade}, 7, 4)),
        VALUE(MID({!DWLoopSintegraNetrin.dataInicioAtividade}, 4, 2)),
        VALUE(LEFT({!DWLoopSintegraNetrin.dataInicioAtividade}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>dateFormulaReceitaFederal</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWNetrinReceita.2XX.receitaFederal.dataInicioAtividade}),
    NULL,
    DATE(
        VALUE(MID({!DWNetrinReceita.2XX.receitaFederal.dataInicioAtividade}, 7, 4)),
        VALUE(MID({!DWNetrinReceita.2XX.receitaFederal.dataInicioAtividade}, 4, 2)),
        VALUE(LEFT({!DWNetrinReceita.2XX.receitaFederal.dataInicioAtividade}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>dateFormulaSituacaoCadastral</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWNetrinReceita.2XX.receitaFederal.dataSituacaoCadastral}),
    NULL,
    DATE(
        VALUE(MID({!DWNetrinReceita.2XX.receitaFederal.dataSituacaoCadastral}, 7, 4)),
        VALUE(MID({!DWNetrinReceita.2XX.receitaFederal.dataSituacaoCadastral}, 4, 2)),
        VALUE(LEFT({!DWNetrinReceita.2XX.receitaFederal.dataSituacaoCadastral}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>dateFormulaSituacaoCadastralSintegra</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWLoopSintegraNetrin.dataSituacaoCadastral}),
    NULL,
    DATE(
        VALUE(MID({!DWLoopSintegraNetrin.dataSituacaoCadastral}, 7, 4)),
        VALUE(MID({!DWLoopSintegraNetrin.dataSituacaoCadastral}, 4, 2)),
        VALUE(LEFT({!DWLoopSintegraNetrin.dataSituacaoCadastral}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>DWBillingStateLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!DWGetAccount.DWUFNetrin__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DWDocNumberFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!DWGetAccount.DW_Documento__c}, &quot;.&quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;/&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DWNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>DW Flow Consulta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Flow Consulta Netrin</label>
    <loops>
        <name>DWLoopAtividadesSecundariaNetrinReceita</name>
        <label>Loop Atividades Secundaria Netrin Receita</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <collectionReference>DWNetrinReceita.2XX.receitaFederal.atividadesEconomicasSecundarias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>attrAtividadeSec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DWAttrDatesString</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DWLoopSintegraNetrin</name>
        <label>DWLoopSintegraNetrin</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <collectionReference>DWNetrinSintegra.2XX.sintegra.inscricoesEstaduais</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DWAttrDatesStringNetrinSintegra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DWNetrinSintegraUpdateAc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DWLoopSuframaNetrin</name>
        <label>DWLoopSuframaNetrin</label>
        <locationX>2558</locationX>
        <locationY>998</locationY>
        <collectionReference>DWLoopSuframa_inscricoesEstaduais_Netrin_Example</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DWTransFormAccountSuframaNetrin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountSuframa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>DWGetAccount</name>
        <label>DWGetAccount</label>
        <locationX>2657</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsDocumentoPreenchido</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultFlow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DWNetrinSintegraUpdateAc</name>
        <label>DWNetrinSintegraUpdateAc</label>
        <locationX>1238</locationX>
        <locationY>1406</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultFlow</targetReference>
        </faultConnector>
        <inputReference>DWTransFormAccountSintegraNetrin</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DWupdateAccountReceitaNetrin</name>
        <label>DWupdateAccountReceitaNetrin</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultFlow</targetReference>
        </faultConnector>
        <inputReference>DWTransFormAccountReceita</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>3614</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>DocRealizadoSucesso</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultFlow</targetReference>
        </faultConnector>
        <inputReference>DWGetAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountSuframa</name>
        <label>UpdateAccountSuframa</label>
        <locationX>2558</locationX>
        <locationY>1298</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultFlow</targetReference>
        </faultConnector>
        <inputReference>DWTransFormAccountSuframaNetrin</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DocRealizadoSucesso</name>
        <label>DocRealizadoSucesso</label>
        <locationX>3614</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgResultado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Atualização realizada com sucesso! Clique novamente no botão para realizar a consulta.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DWEscolha</name>
        <label>DWEscolha</label>
        <locationX>1700</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AttrDWNow</targetReference>
        </connector>
        <fields>
            <name>DWQualConsultaDesejaRealizar</name>
            <choiceReferences>Receita</choiceReferences>
            <choiceReferences>Sintegra</choiceReferences>
            <choiceReferences>Suframa</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qual consulta deseja realizar?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DatasConsultasNetrin</name>
            <fieldText>Consultas Netrin</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DatasConsultasNetrin_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DWGetAccount.DWDataConsultaNetrinReceita__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DatasConsultasNetrin_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DWGetAccount.DWDataConsultaNetrinSintegra__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DatasConsultasNetrin_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DWGetAccount.DWDataConsultaNetrinSuframa__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>CPFCNPJSerRealizadoConsulta</name>
            <fieldText>CPF/CNPJ a ser realizado a consulta:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CPFCNPJSerRealizadoConsulta_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DWGetAccount.DW_Documento__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultFlow</name>
        <label>FaultFlow</label>
        <locationX>4142</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgFlowError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MsgCampoObrigatorio</name>
        <label>MsgCampoObrigatorio</label>
        <locationX>3614</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
        <fields>
            <name>msgObrigatorio</name>
            <fieldText>&lt;p&gt;O campo CPF/CNPJ (Documento) precisa estar preenchido da conta {!DWGetAccount.Name} para que a consulta possa ser feita!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Realize o preenchimento e avançe!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>DWGetAccount.DW_Documento__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaNaoRetornouDados</name>
        <label>TelaNaoRetornouDados</label>
        <locationX>1700</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textoResultado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Não obteve nenhum retorno!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UfDiff</name>
        <label>UfDiff</label>
        <locationX>2030</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UF_DIff</name>
            <fieldText>&lt;p&gt;Para realizar a consulta do Sintegra Netrin é necessario que o campo Estado/UF Netrin da conta tenha dois digitos no valor.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Estado/UF NETRIN :&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!DWGetAccount.DWUFNetrin__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2531</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DWGetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>DWTransFormAccountReceita</name>
        <label>DWTransFormAccountReceita</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>DWupdateAccountReceitaNetrin</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataConsultaNetrinReceita__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWDTNow</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWAtividadeEconomicaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.atividadeEconomica</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWBairroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.bairro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWCapitalSocialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.capitalSocial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWCepNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.cep</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWComplementoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.complemento</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWEfrNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.efr</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWEmailNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWLogradouroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.logradouro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWMotivoSituacaoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.motivoSituacao</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWMunicipioNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.municipio</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNaturezaJuridicaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.naturezaJuridica</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNomeFantasiaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.nomeFantasia</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNumeroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.numero</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWPorteNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.porte</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWRazaoSocialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.razaoSocial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.situacaoCadastral</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWSituacaoEspecialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.situacaoEspecial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTelefoneNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.telefone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTipoCNPJNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.tipoCNPJ</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWUFNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.uf</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWURLComprovanteNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.urlComprovante</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataInicioAtividadeNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>IF( !ISNULL({!DWVarDataInicioAtividade}),{!DWVarDataInicioAtividade},null)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>IF( !ISNULL({!DWVarDataSituacaoCadastral}),{!DWVarDataSituacaoCadastral},null)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataSituacaoEspecialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.dataSituacaoEspecial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWAtividadesEconomicasSecNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWAtividadeSec</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>DWTransFormAccountSintegraNetrin</name>
        <label>DWTransFormAccountSintegraNetrin</label>
        <locationX>1326</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>DWLoopSintegraNetrin</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>DWDataConsultaNetrinSintegra__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWDTNow</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWAtividadeEconomicaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.atividadeEconomica</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWBairroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.bairro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWCepNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.cep</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWComplementoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.complemento</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWInscricaoEstadualNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.inscricaoEstadual</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWLogradouroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.logradouro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNumeroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.numero</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWObservacaoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.observacao</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWRazaoSocialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.razaoSocial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWRegimeRecolhimentoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.regimeRecolhimento</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTelefoneNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.telefone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWURLComprovanteNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.urlComprovante</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataInicioAtividadeNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>IF( !ISNULL({!DWVarDataInicioAtividadeSintegra}),{!DWVarDataInicioAtividadeSintegra},null)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>IF( !ISNULL({!DWVarDataSituacaoCadastralSintegra}),{!DWVarDataSituacaoCadastralSintegra},null)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWMunicipioNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.municipio</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.situacaoCadastral</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNomeFantasiaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.nomeFantasia</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>DWTransFormAccountSuframaNetrin</name>
        <label>DWTransFormAccountSuframaNetrin</label>
        <locationX>2646</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>DWLoopSuframaNetrin</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataConsultaNetrinSuframa__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWDTNow</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWAtividadeEconomicaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.atividadeEconomica</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWBairroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.bairro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWCepNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.cep</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWComplementoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.complemento</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWEmailNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWInscricaoEstadualNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.inscricaoEstadual</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWLogradouroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.logradouro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWMunicipioNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.municipio</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNumeroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.numero</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWObservacaoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.observacao</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWRazaoSocialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.razaoSocial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.situacaoCadastral</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTelefoneNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.telefone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTipoIncentivoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.tipoIncentivo</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWUFNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.uf</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>DWAtividadeSec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWDTNow</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWLoopSuframa_inscricoesEstaduais_Netrin_Example</name>
        <apexClass>ExternalService__DWNetrinSuframaES_DWNetrinSuframaIA_OUT_2XX_suframa_inscricoesEstaduais</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataInicioAtividade</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataInicioAtividadeSintegra</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataSituacaoCadastral</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataSituacaoCadastralSintegra</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObjectReceita</name>
        <apexClass>ExternalService__DWNetrinES_DWNetrisIA_OUT_2XX_receitaFederal</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
