flows/DWFLTriggerConsultaNetrin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>attrAtividadeSecReceita</name>
        <label>attrAtividadeSecReceita</label>
        <locationX>365</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>DWAtividadeSecReceita</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DWLoop_Atividades_Sec_Receita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWLoop_Atividades_Sec_Receita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrAtividadeSecSintegra</name>
        <label>attrAtividadeSecSintegra</label>
        <locationX>531</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>DWAtividadeSecSintegra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAtividadeSecSintegra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAtividadeSecSintegra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttrReceita</name>
        <label>AttrReceita</label>
        <locationX>409</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>ResponseReceita</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receita.DWReceitaNetrinCNPJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWReceitaNetrinCNPJ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrSintegra</name>
        <label>attrSintegra</label>
        <locationX>409</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>ResponseSintegra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sintegra.DWSintegraNetrinCNPJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPreenchidoSintegra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrSuframa</name>
        <label>attrSuframa</label>
        <locationX>267</locationX>
        <locationY>2340</locationY>
        <assignmentItems>
            <assignToReference>ResponseSuframa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suframa.DWSuframaNetrinCNPJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPreenchidoSuframa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DWAttrAccount</name>
        <label>DWAttrAccount</label>
        <locationX>409</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>AccountSObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DWObjectReceita</name>
        <label>DWObjectReceita</label>
        <locationX>277</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>AccountSObject.DWAtividadesEconomicasSecNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWAtividadeSecReceita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWDataInicioAtividadeNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWDtInicioAtividadeFormulaReceitaFederal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWDataSituacaoCadastralNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWSituacaoCadastralReceita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWBairroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWDataConsultaNetrinReceita__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWCepNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.cep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWComplementoNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.complemento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWCapitalSocialNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.capitalSocial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWAtividadeEconomicaNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.atividadeEconomica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWEfrNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.efr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWEmailNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWLogradouroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.logradouro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWMotivoSituacaoNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.motivoSituacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWMunicipioNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.municipio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWNaturezaJuridicaNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.naturezaJuridica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWNomeFantasiaNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.nomeFantasia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWNumeroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.numero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWPorteNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.porte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWRazaoSocialNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.razaoSocial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWSituacaoCadastralNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.situacaoCadastral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWSituacaoEspecialNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.situacaoEspecial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWTelefoneNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.telefone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWTipoCNPJNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.tipoCNPJ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWUFNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.uf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWURLComprovanteNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseReceita.urlComprovante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sintegra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DWObjectSintegra</name>
        <label>DWObjectSintegra</label>
        <locationX>443</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>AccountSObject.DWBairroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWAtividadesEconomicasSecNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWAtividadeSecSintegra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWDataConsultaNetrinSintegra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWAtividadesEconomicasSecNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWAtividadeSecSintegra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWBairroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWCepNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.cep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWComplementoNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.complemento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWInscricaoEstadualNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.inscricaoEstadual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWLogradouroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.logradouro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWMunicipioNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.municipio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWNomeFantasiaNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.nomeFantasia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWNumeroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.numero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWObservacaoNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.observacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWRazaoSocialNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.razaoSocial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWRegimeRecolhimentoNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.regimeRecolhimento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWSituacaoCadastralNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.situacaoCadastral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWTelefoneNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.telefone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWUFNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.uf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWURLComprovanteNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWloopSintegra.urlComprovante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWDataInicioAtividadeNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DtInicioSintegra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWDataSituacaoCadastralNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DtSituacalCadastralSintegra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWloopSintegra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DWObjectSuframa</name>
        <label>DWObjectSuframa</label>
        <locationX>247</locationX>
        <locationY>2664</locationY>
        <assignmentItems>
            <assignToReference>AccountSObject.DWInscricaoEstadualNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.inscricaoEstadual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWDataConsultaNetrinSuframa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWRazaoSocialNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.razaoSocial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWLogradouroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.logradouro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWComplementoNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.complemento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWBairroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWCepNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.cep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWMunicipioNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.municipio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWNumeroNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.numero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWUFNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.uf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWEmailNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWTelefoneNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.telefone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWAtividadeEconomicaNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.atividadeEconomica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWTipoIncentivoNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.tipoIncentivo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWSituacaoCadastralNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.situacaoCadastral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWObservacaoNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.observacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSObject.DWURLComprovanteNetrin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWLoopSuframa.urlComprovante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWLoopSuframa</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DWReceitaNetrinCNPJ</name>
        <label>DWReceitaNetrinCNPJ</label>
        <locationX>409</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Sintegra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>naoPrenchidoReceita</defaultConnectorLabel>
        <rules>
            <name>preenchidoReceita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseReceita</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWLoop_Atividades_Sec_Receita</targetReference>
            </connector>
            <label>preenchidoReceita</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISCNPJ</name>
        <label>ISCNPJ</label>
        <locationX>612</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>naoCNPJ</defaultConnectorLabel>
        <rules>
            <name>verdadeiroCNPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Length</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWAttrAccount</targetReference>
            </connector>
            <label>verdadeiroCNPJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoSintegra</name>
        <label>IsPreenchidoSintegra</label>
        <locationX>409</locationX>
        <locationY>1524</locationY>
        <defaultConnectorLabel>naoPreenchidoSintegra</defaultConnectorLabel>
        <rules>
            <name>preenchidoSintegra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseSintegra</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWloopSintegra</targetReference>
            </connector>
            <label>preenchidoSintegra</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoSuframa</name>
        <label>IsPreenchidoSuframa</label>
        <locationX>267</locationX>
        <locationY>2448</locationY>
        <defaultConnector>
            <targetReference>updateAcc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>naopreenchidoSuframa</defaultConnectorLabel>
        <rules>
            <name>preenchidoSuframa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseSuframa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWLoopSuframa</targetReference>
            </connector>
            <label>preenchidoSuframa</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Document_Length</name>
        <dataType>Number</dataType>
        <expression>LEN(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE(
                    SUBSTITUTE(
                        SUBSTITUTE(
                            TRIM({!$Record.DW_Documento__c}),
                            &quot;.&quot;, &quot;&quot;),
                        &quot;-&quot;, &quot;&quot;),
                    &quot;/&quot;, &quot;&quot;),
                &quot;(&quot;, &quot;&quot;),
            &quot;)&quot;, &quot;&quot;),
        &quot; &quot;, &quot;&quot;)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DtInicioSintegra</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWloopSintegra.dataInicioAtividade}),
    NULL,
    DATE(
        VALUE(MID({!DWloopSintegra.dataInicioAtividade}, 7, 4)),
        VALUE(MID({!DWloopSintegra.dataInicioAtividade}, 4, 2)),
        VALUE(LEFT({!DWloopSintegra.dataInicioAtividade}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>DtSituacalCadastralSintegra</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWloopSintegra.dataSituacaoCadastral}),
    NULL,
    DATE(
        VALUE(MID({!DWloopSintegra.dataSituacaoCadastral}, 7, 4)),
        VALUE(MID({!DWloopSintegra.dataSituacaoCadastral}, 4, 2)),
        VALUE(LEFT({!DWloopSintegra.dataSituacaoCadastral}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>DWDocNumberFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.DW_Documento__c}, &quot;.&quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;/&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DWDocNumberFormulaNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE(
                    SUBSTITUTE(
                        SUBSTITUTE(
                            TRIM({!$Record.DW_Documento__c}),
                            &quot;.&quot;, &quot;&quot;),
                        &quot;-&quot;, &quot;&quot;),
                    &quot;/&quot;, &quot;&quot;),
                &quot;(&quot;, &quot;&quot;),
            &quot;)&quot;, &quot;&quot;),
        &quot; &quot;, &quot;&quot;)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DWDtInicioAtividadeFormulaReceitaFederal</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!ResponseReceita.dataInicioAtividade}),
    NULL,
    DATE(
        VALUE(MID({!ResponseReceita.dataInicioAtividade}, 7, 4)),
        VALUE(MID({!ResponseReceita.dataInicioAtividade}, 4, 2)),
        VALUE(LEFT({!ResponseReceita.dataInicioAtividade}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>DWSituacaoCadastralReceita</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!ResponseReceita.dataSituacaoCadastral}),
    NULL,
    DATE(
        VALUE(MID({!ResponseReceita.dataSituacaoCadastral}, 7, 4)),
        VALUE(MID({!ResponseReceita.dataSituacaoCadastral}, 4, 2)),
        VALUE(LEFT({!ResponseReceita.dataSituacaoCadastral}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>DW FL Trigger Consulta Netrin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW FL Trigger Consulta  Netrin</label>
    <loops>
        <name>DWLoop_Atividades_Sec_Receita</name>
        <label>DWLoop Atividades Sec Receita</label>
        <locationX>277</locationX>
        <locationY>816</locationY>
        <collectionReference>ResponseReceita.atividadesEconomicasSecundarias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>attrAtividadeSecReceita</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DWObjectReceita</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DWloopSintegra</name>
        <label>DWloopSintegra</label>
        <locationX>267</locationX>
        <locationY>1632</locationY>
        <collectionReference>ResponseSintegra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopAtividadeSecSintegra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Suframa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DWLoopSuframa</name>
        <label>DWLoopSuframa</label>
        <locationX>159</locationX>
        <locationY>2556</locationY>
        <collectionReference>ResponseSuframa</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DWObjectSuframa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAcc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopAtividadeSecSintegra</name>
        <label>loopAtividadeSecSintegra</label>
        <locationX>443</locationX>
        <locationY>1740</locationY>
        <collectionReference>DWloopSintegra.atividadesEconomicasSecundarias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>attrAtividadeSecSintegra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DWObjectSintegra</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateAcc</name>
        <label>updateAcc</label>
        <locationX>267</locationX>
        <locationY>2940</locationY>
        <inputReference>AccountSObject</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>ISCNPJ</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Receita</name>
        <label>Receita</label>
        <locationX>409</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>AttrReceita</targetReference>
        </connector>
        <flowName>DWFlowSelecaoConsultasNegrinV2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>servico</name>
            <value>
                <stringValue>receita</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Sintegra</name>
        <label>Sintegra</label>
        <locationX>409</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>attrSintegra</targetReference>
        </connector>
        <flowName>DWFlowSelecaoConsultasNegrinV2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>servico</name>
            <value>
                <stringValue>sintegra</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Suframa</name>
        <label>Suframa</label>
        <locationX>267</locationX>
        <locationY>2232</locationY>
        <connector>
            <targetReference>attrSuframa</targetReference>
        </connector>
        <flowName>DWFlowSelecaoConsultasNegrinV2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>servico</name>
            <value>
                <stringValue>suframa</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DWAtividadeSecReceita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWAtividadeSecSintegra</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataInicioAtividadeReceita</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseReceita</name>
        <apexClass>ExternalService__DWNetrinReceitaES_DWNetrinIA_OUT_2XX_receitaFederal</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseSintegra</name>
        <apexClass>ExternalService__DWNetrinISintegra_DWNetrinSintegraIA_OUT_2XX_sintegra_inscricoesEstaduais</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseSuframa</name>
        <apexClass>ExternalService__DWNetrinSuframaES_DWNetrinSuframaIA_OUT_2XX_suframa_inscricoesEstaduais</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
