flows/DWFlowSelecaoConsultasNegrinV2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DWNetrinReceita</name>
        <label>DWNetrinReceita</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>DWNetrinReceitaES.DWNetrinIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoReceita</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>receita_federal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinReceitaES.DWNetrinIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DWNetrinSintegra</name>
        <label>DWNetrinSintegra</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>DWNetrinISintegra.DWNetrinSintegraIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoSintegra</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>sintegra</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uf</name>
            <value>
                <elementReference>DWGetAccount.DWUFNetrin__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinISintegra.DWNetrinSintegraIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DWNetrinSuframa</name>
        <label>DWNetrinSuframa</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>DWNetrinSuframaES.DWNetrinSuframaIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoSuframa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>suframa</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinSuframaES.DWNetrinSuframaIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AttrDWNow</name>
        <label>AttrDWNow</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DWDTNow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QServico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttrReceita</name>
        <label>AttrReceita</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DWReceitaNetrinCNPJ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWNetrinReceita.2XX.receitaFederal</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AttrSintegra</name>
        <label>AttrSintegra</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DWSintegraNetrinCNPJ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWNetrinSintegra.2XX.sintegra.inscricoesEstaduais</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AttrSuframa</name>
        <label>AttrSuframa</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DWSuframaNetrinCNPJ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWNetrinSuframa.2XX.suframa.inscricoesEstaduais</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsPreenchidoResultadoReceita</name>
        <label>IsPreenchidoResultadoReceita</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AttrReceita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoReceita</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoReceita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinReceita.2XX.receitaFederal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>naoPreenchidoReceita</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoResultadoSintegra</name>
        <label>IsPreenchidoResultadoSintegra</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AttrSintegra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoSintegra</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoSintegra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinSintegra.2XX.sintegra.inscricoesEstaduais</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>naoPreenchidoSintegra</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoResultadoSuframa</name>
        <label>IsPreenchidoResultadoSuframa</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AttrSuframa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoSuframa</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoSuframa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinSuframa.2XX.suframa.inscricoesEstaduais</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>naoPreenchidoSuframa</label>
        </rules>
    </decisions>
    <decisions>
        <name>QServico</name>
        <label>QServico</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DWNetrinSuframa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>suframa</defaultConnectorLabel>
        <rules>
            <name>receita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>servico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>receita</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWNetrinReceita</targetReference>
            </connector>
            <label>receita</label>
        </rules>
        <rules>
            <name>sintegra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>servico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sintegra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWNetrinSintegra</targetReference>
            </connector>
            <label>sintegra</label>
        </rules>
    </decisions>
    <description>Fluxo usado para realizar as consultas mas não atualizar os campos da conta.
Tem variaveis outputs que podem ser usados para realizar a atualização.</description>
    <environments>Default</environments>
    <formulas>
        <name>DWDocNumberFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!DWGetAccount.DW_Documento__c}, &quot;.&quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;/&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DWNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>DW Flow Selecao Consultas Negrin V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Flow Selecao Consultas Negrin V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DWGetAccount</name>
        <label>DWGetAccount</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttrDWNow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DWGetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DWDTNow</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWLoopSuframa_inscricoesEstaduais_Netrin_Example</name>
        <apexClass>ExternalService__DWNetrinSuframaES_DWNetrinSuframaIA_OUT_2XX_suframa_inscricoesEstaduais</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWReceitaNetrinCNPJ</name>
        <apexClass>ExternalService__DWNetrinReceitaES_DWNetrinIA_OUT_2XX_receitaFederal</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DWSintegraNetrinCNPJ</name>
        <apexClass>ExternalService__DWNetrinISintegra_DWNetrinSintegraIA_OUT_2XX_sintegra_inscricoesEstaduais</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DWSuframaNetrinCNPJ</name>
        <apexClass>ExternalService__DWNetrinSuframaES_DWNetrinSuframaIA_OUT_2XX_suframa_inscricoesEstaduais</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DWVarDataSituacaoCadastralSintegra</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
