flows/DWFlowSelecaoConsultasNegrin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DWNetrinReceita</name>
        <label>DWNetrinReceita</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>DWNetrinReceitaES.DWNetrinIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoReceita</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>receita_federal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinReceitaES.DWNetrinIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DWNetrinSintegra</name>
        <label>DWNetrinSintegra</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <actionName>DWNetrinISintegra.DWNetrinSintegraIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoSintegra</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>sintegra</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uf</name>
            <value>
                <elementReference>DWGetAccount.DWUFNetrin__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinISintegra.DWNetrinSintegraIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DWNetrinSuframa</name>
        <label>DWNetrinSuframa</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <actionName>DWNetrinSuframaES.DWNetrinSuframaIA</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsPreenchidoResultadoSuframa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <stringValue>suframa</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DWDocNumberFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DWNetrinSuframaES.DWNetrinSuframaIA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>attrAtividadeSec</name>
        <label>attrAtividadeSec</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DWAtividadeSec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Atividades_Secundaria_Netrin_Receita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Atividades_Secundaria_Netrin_Receita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttrDWNow</name>
        <label>AttrDWNow</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DWDTNow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QServico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttrSuframaLoop</name>
        <label>AttrSuframaLoop</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DWLoopSuframa_inscricoesEstaduais_Netrin_Example</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DWNetrinSuframa.2XX.suframa.inscricoesEstaduais</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWLoopSuframaNetrin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DWAttrDatesString</name>
        <label>DWAttrDatesString</label>
        <locationX>226</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>DWVarDataInicioAtividade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormulaReceitaFederal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DWVarDataSituacaoCadastral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormulaSituacaoCadastral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWTransFormAccountReceita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DWAttrDatesStringNetrinSintegra</name>
        <label>DWAttrDatesStringNetrinSintegra</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DWVarDataInicioAtividadeSintegra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormuladataInicioAtividadeSintegra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DWVarDataSituacaoCadastralSintegra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormulaSituacaoCadastralSintegra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DWTransFormAccountSintegraNetrin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsPreenchidoResultadoReceita</name>
        <label>IsPreenchidoResultadoReceita</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Atividades_Secundaria_Netrin_Receita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoReceita</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoReceita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinReceita.2XX.receitaFederal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>naoPreenchidoReceita</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoResultadoSintegra</name>
        <label>IsPreenchidoResultadoSintegra</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>DWLoopSintegraNetrin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoSintegra</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoSintegra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinSintegra.2XX.sintegra.inscricoesEstaduais</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>naoPreenchidoSintegra</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreenchidoResultadoSuframa</name>
        <label>IsPreenchidoResultadoSuframa</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AttrSuframaLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>simPreenchidoSuframa</defaultConnectorLabel>
        <rules>
            <name>naoPreenchidoSuframa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DWNetrinSuframa.2XX.suframa.inscricoesEstaduais</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>naoPreenchidoSuframa</label>
        </rules>
    </decisions>
    <decisions>
        <name>QServico</name>
        <label>QServico</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DWNetrinSuframa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>suframa</defaultConnectorLabel>
        <rules>
            <name>receita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>servico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>receita</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWNetrinReceita</targetReference>
            </connector>
            <label>receita</label>
        </rules>
        <rules>
            <name>sintegra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>servico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sintegra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DWNetrinSintegra</targetReference>
            </connector>
            <label>sintegra</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateFormuladataInicioAtividadeSintegra</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWLoopSintegraNetrin.dataInicioAtividade}),
    NULL,
    DATE(
        VALUE(MID({!DWLoopSintegraNetrin.dataInicioAtividade}, 7, 4)),
        VALUE(MID({!DWLoopSintegraNetrin.dataInicioAtividade}, 4, 2)),
        VALUE(LEFT({!DWLoopSintegraNetrin.dataInicioAtividade}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>dateFormulaReceitaFederal</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWNetrinReceita.2XX.receitaFederal.dataInicioAtividade}),
    NULL,
    DATE(
        VALUE(MID({!DWNetrinReceita.2XX.receitaFederal.dataInicioAtividade}, 7, 4)),
        VALUE(MID({!DWNetrinReceita.2XX.receitaFederal.dataInicioAtividade}, 4, 2)),
        VALUE(LEFT({!DWNetrinReceita.2XX.receitaFederal.dataInicioAtividade}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>dateFormulaSituacaoCadastral</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWNetrinReceita.2XX.receitaFederal.dataSituacaoCadastral}),
    NULL,
    DATE(
        VALUE(MID({!DWNetrinReceita.2XX.receitaFederal.dataSituacaoCadastral}, 7, 4)),
        VALUE(MID({!DWNetrinReceita.2XX.receitaFederal.dataSituacaoCadastral}, 4, 2)),
        VALUE(LEFT({!DWNetrinReceita.2XX.receitaFederal.dataSituacaoCadastral}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>dateFormulaSituacaoCadastralSintegra</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!DWLoopSintegraNetrin.dataSituacaoCadastral}),
    NULL,
    DATE(
        VALUE(MID({!DWLoopSintegraNetrin.dataSituacaoCadastral}, 7, 4)),
        VALUE(MID({!DWLoopSintegraNetrin.dataSituacaoCadastral}, 4, 2)),
        VALUE(LEFT({!DWLoopSintegraNetrin.dataSituacaoCadastral}, 2))
    )
)</expression>
    </formulas>
    <formulas>
        <name>DWDocNumberFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!DWGetAccount.DW_Documento__c}, &quot;.&quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;/&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DWNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>DW Flow Consultas Negrin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Flow Selecao Consultas Negrin</label>
    <loops>
        <name>DWLoopSintegraNetrin</name>
        <label>DWLoopSintegraNetrin</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <collectionReference>DWNetrinSintegra.2XX.sintegra.inscricoesEstaduais</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DWAttrDatesStringNetrinSintegra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DWNetrinSintegraUpdateAc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DWLoopSuframaNetrin</name>
        <label>DWLoopSuframaNetrin</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <collectionReference>DWLoopSuframa_inscricoesEstaduais_Netrin_Example</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DWTransFormAccountSuframaNetrin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountSuframa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Atividades_Secundaria_Netrin_Receita</name>
        <label>Loop Atividades Secundaria Netrin Receita</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <collectionReference>DWNetrinReceita.2XX.receitaFederal.atividadesEconomicasSecundarias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>attrAtividadeSec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DWAttrDatesString</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DWGetAccount</name>
        <label>DWGetAccount</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttrDWNow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DWNetrinSintegraUpdateAc</name>
        <label>DWNetrinSintegraUpdateAc</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <inputReference>DWTransFormAccountSintegraNetrin</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAcc</name>
        <label>UpdateAcc</label>
        <locationX>226</locationX>
        <locationY>1190</locationY>
        <inputReference>DWTransFormAccountReceita</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountSuframa</name>
        <label>UpdateAccountSuframa</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <inputReference>DWTransFormAccountSuframaNetrin</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DWGetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>DWTransFormAccountReceita</name>
        <label>DWTransFormAccountReceita</label>
        <locationX>226</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>UpdateAcc</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataConsultaNetrinReceita__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWDTNow</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWAtividadeEconomicaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.atividadeEconomica</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWBairroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.bairro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWCapitalSocialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.capitalSocial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWCepNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.cep</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWComplementoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.complemento</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWEfrNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.efr</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWEmailNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWLogradouroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.logradouro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWMotivoSituacaoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.motivoSituacao</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWMunicipioNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.municipio</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNaturezaJuridicaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.naturezaJuridica</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNomeFantasiaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.nomeFantasia</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNumeroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.numero</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWPorteNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.porte</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWRazaoSocialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.razaoSocial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.situacaoCadastral</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWSituacaoEspecialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.situacaoEspecial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTelefoneNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.telefone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTipoCNPJNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.tipoCNPJ</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWUFNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.uf</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWURLComprovanteNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWNetrinReceita.2XX.receitaFederal.urlComprovante</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWAtividadesEconomicasSecNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWAtividadeSec</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>DWTransFormAccountSintegraNetrin</name>
        <label>DWTransFormAccountSintegraNetrin</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>DWLoopSintegraNetrin</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>DWAtividadeEconomicaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.atividadeEconomica</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWBairroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.bairro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWCepNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.cep</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWComplementoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.complemento</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWInscricaoEstadualNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.inscricaoEstadual</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWLogradouroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.logradouro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWMunicipioNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.municipio</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNomeFantasiaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.nomeFantasia</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNumeroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.numero</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWObservacaoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.observacao</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWRazaoSocialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.razaoSocial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWRegimeRecolhimentoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.regimeRecolhimento</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.situacaoCadastral</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTelefoneNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.telefone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWUFNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.uf</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWURLComprovanteNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSintegraNetrin.urlComprovante</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataConsultaNetrinSintegra__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWDTNow</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataInicioAtividadeNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>IF( !ISNULL({!DWVarDataInicioAtividadeSintegra}),{!DWVarDataInicioAtividadeSintegra},null)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>IF( !ISNULL({!DWVarDataSituacaoCadastralSintegra}),{!DWVarDataSituacaoCadastralSintegra},null)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>DWTransFormAccountSuframaNetrin</name>
        <label>DWTransFormAccountSuframaNetrin</label>
        <locationX>1458</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>DWLoopSuframaNetrin</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWDataConsultaNetrinSuframa__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWDTNow</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWAtividadeEconomicaNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.atividadeEconomica</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWBairroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.bairro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWCepNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.cep</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWComplementoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.complemento</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWEmailNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWInscricaoEstadualNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.inscricaoEstadual</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWLogradouroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.logradouro</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWMunicipioNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.municipio</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWNumeroNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.numero</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWObservacaoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.observacao</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWRazaoSocialNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.razaoSocial</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWSituacaoCadastralNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.situacaoCadastral</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTelefoneNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.telefone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWTipoIncentivoNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.tipoIncentivo</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWUFNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.uf</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DWURLComprovanteNetrin__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DWLoopSuframaNetrin.urlComprovante</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>DWAtividadeSec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWDTNow</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWLoopSuframa_inscricoesEstaduais_Netrin_Example</name>
        <apexClass>ExternalService__DWNetrinSuframaES_DWNetrinSuframaIA_OUT_2XX_suframa_inscricoesEstaduais</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataInicioAtividade</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataInicioAtividadeSintegra</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataSituacaoCadastral</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DWVarDataSituacaoCadastralSintegra</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
